<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.learnandroid.appworld">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity
            android:name=".LoginActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateAlwaysHidden">

        </activity>
        <activity
            android:name=".UserActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".RegisterActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <provider
            android:name=".NotesContentProvider"
            android:authorities="com.learnandroid.appworld.notescontentprovider"
            android:exported="false" />

        <activity
            android:name=".EditNotesActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".UserActivity" />
        <activity android:name=".NavigationDrawerActivity" />
        <activity android:name=".sharedpffrence.DemoLayoutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".sharedpffrence.SecondActivity" />
    </application>

</manifest>